h1{
    text-align: center;
    font-family: serif;
}
h2{
    text-align: center;
    font-family: serif;
    font-size:20px;
}

label{
    padding:0px 10px 0px 30px;
}

.btn-primary{
    margin:0px 0px 0px 50px;
}

#search{
    margin-left:30px;
}

#ingredients{
    margin-top:20px;
}

form{
    padding: 20px;
    background-color:grey;
    border:2px solid black;
}

img{
    height:200px;
    
}
.modal-title{
    text-align: center;
    font-family:serif;
    font-size:40px;
}

.modal-bkgrnd{
    background-color:red;
    
}

