h1{
    text-align: center;
    font-family: serif;
}

label{
    padding:0px 10px 0px 30px;
}

.btn-primary{
    margin-bottom:20px;
}

#ingredients{
    margin-top:20px;
}


form{
    padding: 20px;
    background-color:grey;
    border:2px solid black;
}

img{
    height:200px;
}