<div>

    <script type="text/ng-template" id="form-template.html">

        <form class="form-inline center-block" name="saucedForm">
            <div class="form-group">
                <label for="title">Title:</label>
                <input class="form-control" id="title" type="text" placeholder="title" ng-model="newRecipe.title" required>

                <label for="image">Image:</label>
                <input class="form-control" id="image" type="text" placeholder="image url" ng-model="newRecipe.image">

                <label id="ing-label" for="ingredients">Ingredients:</label>
                <textarea class="form-control" id="ingredients" name="ingredients" ng-model="newRecipe.ingredients" ng-pattern-restrict ng-minlength="3" required></textarea>
                <p ng-show="saucedForm.ingredients.$invalid && saucedForm.ingredients.$touched"></p>

                <label for="menu">Menu</label>
                <select class="menu-select" ng-model="newRecipe.menu" required>
                    <option value="small plates">Small Plates</option>
                    <option value="big tastes">Big Tastes</option>
                    <option value="buffet">Buffet</option>
                    <option value="tapas">Tapas</option>
                </select>

                <button type="submit" class="btn btn-primary" ng-click="addRecipe(newRecipe)" ng-disabled="saucedForm.$invalid">Add Recipe</button>

                <label>Search:
                    <input type="text" ng-model="query" autofocus>
                </label>

            </div>
        </form>
    </script>
</div>